<footer class="container-fluid tobottom bg_footer footer_content">
  <div class="row navbar">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 text-center">
          <a href="contacto.php" class="link_footer">Contacto</a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 text-center">
          <a href="condiciones.php" class="link_footer">Términos y condiciones</a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 text-center">
          <a href="#" class="link_footer">Política de cookies</a>
      </div>
  </div>    
  <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <p class="footer_info">Todos los vídeos y comentarios en este sitio son propiedad de sus respectivos usuarios autores.</p>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <p class="footer_info">Para ejercer sus derechos de copyright no dude en <a href="#" class="link_footer">contactar con nosotros.</a></p>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <p class="footer_info">BananaTube y sus administradores no se hacen responsables de las opiniones publicadas por los usuarios y colaboradores en el sitio.</p>
      </div>
  </div>
</footer>
