<div class="row">
  <div class="col-3">
  </div>
    <div class="col-89text-center">
        <h1>Lista de amigos</h1>
    </div>
</div>


<div class="row">
  <div class="col-3 text-center mt-5">
    <div>imagen</div>
      @monito radiactivo
  </div>
  
  <div class="col-9 text-center">
      <h3>Marie Curie</h3>
      <p>Fui una científica de nacionalidad polaca y francesa. Pionera en el campo de la radioactividad, ganadora de un premio nobel en  física y otro en química. Además de la primera mujer en ocupar un puesto de profesora en la universidad de París</p>
  </div>
</div>

<div class="row">
  <div class="col-3 text-center mt-5">
    <div>imagen</div>
      @monito galapago
    </div>
  
  <div class="col-9 text-center">
      <h3>Charles Darwin</h3>
      <p>Fui un naturalista inglés, reconocido por ser el científico más influyente de los que plantearon la idea de la evolución biológica a través de la selección natural. “El origen de las especies” ¡Ya a la venta!</p>
  </div>      
</div>


<div class="row">
  <div class="col-3 text-center mt-5">
    <div>imagen</div>
      @monito inventor
  </div>
  
  <div class="col-9 text-center">
      <h3>Leonardo Da Vinci</h3>
      <p>Fui un polímata italiano, más concretamente de la localidad de Vinci en la provincia de Florencia y en la región de la Toscana. Descrito frecuentemente como un arquetipo y símbolo del hombre del renacimiento, además de genio universal y filósofo humanista</p>
  </div>
</div>

<div class="row">
  <div class="col-3 text-center mt-5">
    <div>imagen</div>
      @monito noble
  </div>
  
  <div class="col-9 text-center">
    <h3>Leonor De Aquitania</h3>
    <p>Fue duquesa de Aquitania, reina consorte primero de Francia, luego de Inglaterra, y regente de Inglaterra en diversas ocasiones. También es la madre de Ricardo I de Inglaterra, conocido como Ricardo Corazón de León. Además Leonor De Aquitania fue la mecenas de diversos trovadores y su corte establecida en Poitiers hubo un gran auge de la lírica caballeresca y trovadoresca</p>
  </div>
</div>