<div class="container">
  <div class="mx-auto white mt-3 top-brown rounded">
    <div class="row">
      <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7">
        <video width="100%" controls preload>
            <source src="#" type="video/mp4">
            Tu navegador no soporta videos HTML
          </video>
          <div>
          </div>
      </div>
      <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
        <h2 class="text-center">Titulo Video</h2>
        <h6>Username</h6>
        <p>Descripcion Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est repudiandae aliquam in laboriosam? Veritatis rem eos omnis vitae doloremque officiis perspiciatis velit ipsam vel odio, laboriosam a deleniti dignissimos nisi!</p>
      </div>
    </div>
  </div>

</div>