
            <div class="row">
           
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 text-center mx-auto mb-2 mt-4">
                <h1>Ayuda, términos y condiciones de uso</h1>

             </div>
         

        </div>
      
      <div class="row">
     
     <div class="col-8 col-sm-8 col-md-10 col-lg-8 col-xl-8 mx-auto mt-2">
      <p>Recopilamos datos personales tuyos cuando nos los proporcionas, publicas o cargas en nuestros Servicios. Tú y otras personas podéis publicar contenido y compartirlo de forma pública en la misma plataforma e incluso permitir la opción de descarga, a menos que marques la opción de restricción de descarga en tu perfil.

¿Quienes somos y que tipo de contenido ofrecemos? BananTube es una plataforma que ofrece cualquier tipo de contenido en formato video de gran calidad. Ademas BananTube de compone de una comunidad  colaborativa grande compuesta por usuarios registrados o no.
</p>
         
     </div>
          
      </div>
      
      <div class="row">
    
     <div class="col-8 col-sm-8 col-md-10 col-lg-8 col-xl-8 mx-auto mt-2">
        <p>Recopilamos datos personales tuyos cuando nos los proporcionas, publicas o cargas en nuestros Servicios. Tú y otras personas podéis publicar contenido y compartirlo de forma pública en la misma plataforma e incluso permitir la opción de descarga, a menos que marques la opción de restricción de descarga en tu perfil. ¿Quienes somos y que tipo de contenido ofrecemos? BananTube es una plataforma que ofrece cualquier tipo de contenido en formato video de gran calidad. Ademas BananTube de compone de una comunidad colaborativa grande compuesta por usuarios registrados o no.
        </p>
     </div>>
          
      </div>
    