/*#login{
    background-image: url(./assets/img/banana-01_shop_preview.png);
    box-sizing: border-box;
}
#login_form{
    text-align: center;
}
#login_form h2{
    padding-top: 20px;
}
.campo_form{
    margin-bottom: 20px;
}*/
