<div class="row">             
  <div class="mx-auto text-center">
    <h2>Inicio de Sesión</h2>
  </div>        
</div>
<div class="row">
  <div class="mx-auto col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      
      <div class="form-group">
        <label for="username" class="col-sm text-center">Nombre de Usuario</label>
        <input #username="ngModel" [(ngModel)]="user.username" name="username" type="text" class="form-control" id="username" aria-describedby="usename" placeholder="" required>
        
        <!--VALIDACION -->
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
            <div *ngIf="username.errors.required">
              El nombre es obligatorio
            </div>
        </div>
        <!-- ___________________________ -->
      </div>
      
      <div class="form-group">
        <label for="pass" class="col-sm text-center">Contraseña</label>
        <input #pass="ngModel" [(ngModel)]="user.pass" name="pass" type="password" class="form-control" id="pass" placeholder="" required>
      
        <!--VALIDACION -->
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
          <div *ngIf="pass.errors.required">
            El nombre es obligatorio
          </div>
        </div>
        <!-- ___________________________ -->
      </div> 
      
      <div class="text-center">
        <button [disabled]="!loginForm.form.valid" type="submit" class="btn sara">Acceso</button>
      </div>
    </form>

    <!-- footer del form -->
    <br>
    <div class="row">      
      <div class="col-6 align-self-end text-center">
        <p class="text-center">¿No tienes cuenta?</p>    
        <button class="btn sara">Crear cuenta</button>
      </div>
      <div class="col-6 align-self-end text-center">
        <p class="text-center">¿Has olvidado tu contraseña?</p>
        <button (click)="loginCheck()" class="btn sara">Recuperar</button>   
      </div>
    </div>
  </div>
</div>

       