<header>
    <div class="row green">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            <div class="row">
                <div id="header_barras" class="col-3">
                    <i class="fa fa-bars fa-3x float-left text-white ml-2 p-0 margin-top-15px" aria-hidden="true"></i>
                </div>
                <figure class="col-7">
                    <div class="text-center">
                        <img id="logo-banana" class="margin-top-25px mx-auto" src="../assets/img/logoweb2.png" alt="bananatube">
                    </div>
                </figure>
                <div class="col-2">
                    <i class="fa fa-ellipsis-v fa-3x d-md-none float-right text-white margin-top-15px" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="text-center">
                                <button id="btn_registro"  class="btn mb-2 sara" type="button">Registro</button>
                                <button id="btn_signin" class="btn mb-2 ana" type="button">Ingresar</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 col-12">
            <form id="search_form" class="" action="" method="post">
                <div class="form-group">
                    <label for="search_principal"></label>
                    <input type="search" id="search_principal" name="search_principal" class="form-control" placeholder="Buscar...">
                </div>
            </form>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12 d-none d-sm-none d-md-block">
            <div class="margin-top-25px">
            <nav class="float-right">
                <button id="btn_registro_movil"  class="btn mb-2 sara" type="button">Registro</button>
                <button id="btn_signin_movil" class="btn mb-2 ana" type="button">Ingresar</button>
            </nav>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
        <footer class="container-fluid tobottom bg_footer footer_content">
            <div class="row navbar">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                    <a href="contacto.php" class="link_footer">Contacto</a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                    <a href="condiciones.php" class="link_footer">Términos y condiciones</a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                    <a href="#" class="link_footer">Política de cookies</a>
                </div>
            </div>    
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="footer_info">Todos los vídeos y comentarios en este sitio son propiedad de sus respectivos usuarios autores.</p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="footer_info">Para ejercer sus derechos de copyright no dude en <a href="#" class="link_footer">contactar con nosotros.</a></p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="footer_info">BananaTube y sus administradores no se hacen responsables de las opiniones publicadas por los usuarios y colaboradores en el sitio.</p>
                </div>
            </div>
        </footer>