<div id="sidenav" class="row z-menu d-none">
  <aside id="sidebar" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-8 bg_aside">
      <div class="row bg_aside_top">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center mt-3">
              <img src="./img/teslaAvatar75px.png" alt="usuario" class="rounded-circle">
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center text-white">
              <div>orangutan@banana.com</div>
          </div>
      </div>
      <div class="row ">
          <ul class="list-group border-0">
              <li class="list-group-item border-0"><i class="fa fa-home mr-4 icon_dark"></i><a [routerLink]="[ '/home']">Inicio</a></li>
              <li class="list-group-item border-0"><i class="fa fa-address-card mr-4 icon_dark"></i><a href="">Perfil</a></li>
              <li class="list-group-item border-0"><i class="fa fa-cloud-upload mr-4 icon_dark"></i><a href="">Subir vídeos</a></li>
              <li class="list-group-item border-0"><i class="fa fa-image mr-4 icon_dark"></i><a href="">Gestión de contendidos</a></li>
              <li class="list-group-item border-0"><i class="fa fa-users mr-4 icon_dark"></i><a href="listadeamigos.php">Amigos</a></li>
              <li class="list-group-item border-0"><i class="fa fa-cog mr-4 icon_dark"></i><a href="inicio_sesion.php">Configuración</a></li>
              <li class="list-group-item border-0"><i class="fa fa-pencil mr-4 icon_dark"></i><a href="">Enviar sugerencias</a></li>
          </ul>
      </div>
  </aside>
  <div id="dark" class="col-xl-9 col-lg-9 col-md-8 col-sm-6 col-4 bg_dark">
  
  </div>
</div>