
<div class="userlist_image userlist">
  <img src="assets/img/teslaAvatar.png" height="100px">
</div> 
<!-- sección de nombre/usuario-->    
<section class="userlist">
  <div class="userlist_name userlist">
  <p class="user_nombre">Nikola Tesla</p>
  <p class="user_user">@PalomitaKawaii</p>
  <p class="mail_mail">yoinventelaelectricidad@tesla.com</p>
</div>
</section>
<!-- Descripción -->    
<div class="userlist_lore userlist">
  Fui un inventor, ingeniero mecánico, eléctrico y físico de origen serbio. Fan de la electricidad y las palomas. 
</div>
<!-- info de registro -->
<div class="userlist_when userlist">
</div>