.sara{
    background-color:#7D6323;
    color: #FEFCC5;
    font-style:normal;
    font-size: 16px;
    font-weight:normal;
    text-align: center;
 
 }
 
 .sara:hover{
     background-color:#7D6323;
     color: #FEFCC5;
     box-shadow:0px 4px 4px black; 
     font-style:normal;
     font-size: 16px;
     font-weight:normal;
     text-align: center;
  
  }

  input[type="checkbox"]{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid #7EB04C;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 5px 0 0;
    box-shadow: 2px 2px 0px 0px grey;
   
   }
    
   input[type="checkbox"]:checked{
    background: #785F22;
   }
 
   